@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-border-radius: 20px;
  --primary-color: #2b6200;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  display: flex;
  flex-direction: column;
  min-height: 200vh;

}





.title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 20px;
}
.header {
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 150px;
  width: 100%;
  z-index: 1000;
  background-color: var(--primary-color);
  flex-direction: column;
  text-align: center;
}

.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}



.scrollableContent {
  min-height: 200vh;
}

.webContent {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.inputValuesContainer {
  display: flex;
  background-color: var(--primary-color);
  min-width: 70%;
  min-height: auto;
  border-radius: var(--primary-border-radius);
  padding: 40px;
}

.valuesBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}



.inputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}

.inputField {
  
  width: 70%;
}

.sliderTitle {
  margin-right: auto;             /* Push this item to the left */
  color: white;
  text-align: center;
}


.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70%;
  background-color: var(--primary-color);
  border-radius: var(--primary-border-radius);
}

.chart {
  border-radius: var(--primary-border-radius);
  background-color: white;
  width: 95%;
  padding: 10px;
}


.resultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70%;
  background-color: var(--primary-color);
  border-radius: var(--primary-border-radius);
  margin-top: 20px;
}

.resultBox {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  grid-template-rows: 1fr 1fr 1fr; /* 3 rows */
  gap: 10px; /* space between items */
  height: 300px; /* adjust as needed */
  width: 100%; /* or specific width */
}


.resultText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  

}

.resultText:last-child {
  border-right: none;
}

.inputField:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(79, 144, 15, 0.5);
}







@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
