/* Basic styling for the dropdown */

  
  .dropdown-toggle {
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    border-top-right-radius: var(--primary-border-radius);
    border-bottom-right-radius: var(--primary-border-radius);
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;

  }
  
  .dropdown-toggle:hover {
    background-color: #45a049;
  }
  
  /* The dropdown menu is hidden by default */
  .dropdown-menu {
    position: absolute;
    background-color: #f9f9f9;
    height: auto;
    width: 10%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #4CAF50;
    z-index: 10;
    border-radius: var(--primary-border-radius);
    padding: 5px;

   
  }
  
  
  
  .dropdown-menu a:hover {
    background-color: #ddd;
  }
  