/* Basic styling for the dropdown */

  .text-and-drop {
    display: flex;
    flex-direction: row; /* default, so technically optional */
    align-items: center;  /* vertical alignment */
    width: 30%;
    padding-left: 30px;
    
  }
  .dropdown-toggle {
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    border-top-right-radius: var(--primary-border-radius);
    border-bottom-right-radius: var(--primary-border-radius);
    width: auto;
    padding-left: 10px;
    padding-right: 10px;

  }
  
  .dropdown-toggle:hover {
    background-color: #45a049;
  }
  
  .dropdown-item {
    width: 100%;
    border-radius: var(--primary-border-radius);    
    padding-left: 10px;
    padding-right: 10px;

  }

  .dropdown-item:hover {
    background-color: #214b23;
    
  }
  /* The dropdown menu is hidden by default */
  .dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #4CAF50;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 999;
    border-radius: var(--primary-border-radius);  
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
  } 
  
  
  .inputBox {
  }
  
  
  .dropdown-menu a:hover {
    background-color: #ddd;
  }
  